<!DOCTYPE html>
<html lang="en">

<head>
    <title>flight_Bord</title>
    <link rel="shortcut icon" href="./icons/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <script type="text/javascript">
        function initSocket() {
            //socket is global
            socket = io.connect();
            alert("connected");
            send(); 
        }
        function sendMessage(total) {
            socket.emit("numberOfFlights",total);
        }
        
        var counter = document.getElementById("counter");
        var count = 0;
        var rows = <%-JSON.stringify(data)%>;
        
        function send(){
            var rows = <%-JSON.stringify(data)%>;
            var rows1 = JSON.parse(rows);
            document.getElementById('counter').innerHTML = 0;
            count = 0;
            console.log(rows1);
            for (var key of Object.keys(rows1)) {
                const myJSON = JSON.stringify(rows1[key]); 
                console.log(myJSON);
                const words = myJSON.split(',');
                var word = JSON.parse(words);
                count++;
                document.getElementById('counter').innerHTML = count;
                
                var flight ={};
                flight.lo = word.location1;
                flight.lo2 = word.location2;
                flight.degree=word.location3;
                flight.direction = word.landing;
                flight.scheduleddeparture = word.scheduleddeparture;
                flight.lscheduledarrival = word.scheduledarrival;
                flight.realdeparture=word.realdeparture;
                flight.realarrival=word.realarrival;
                flight.estimateddeparture=word.estimateddeparture;
                flight.estimatedarrival=word.estimatedarrival;
                flight.id = word.TZ;
                flight.src = word.src;
                flight.dest = word.dest;


                socket.emit("currentFlights", flight);
                socket.emit("numberOfFlights",counter);

            }
        }
    
    </script>
</head>
<body >    
<body  onload="initSocket()">
    <p id="demo"></p>
     <script>   
            document.getElementById("demo").innerHTML = rows;
    </script>
    <p ><a class = "count" id = "counter"></p>

</body>
   
</body>


</html>