@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


 h1 {
  margin-top:25px;
  margin-left:170px;
  color: rgb(23, 148, 106);   
}
#img-plane{
    src: ".\icons\flights(1).png";
    border-radius: 35px;
    margin-left: 20;
    margin-top: 20;


}
#myMap{
    width: 70%;
    height: 400px;
    margin-top:-90px; 
    margin-left:180px;
    /* padding: 14px 28px; */
    border-radius: 8px;
    border: 2px solid rgb(75, 6, 46);
    position : center;


    /* border-style: solid; */
    /* box-sizing: border-box; */
    /* background-origin: padding-box; */

  
}

#txt{
  font-size:3ch;
  color:white;
  /* box-sizing: border-box; */
  /* border: rgb(60, 117, 164); */
  
}
.textb2{
  font-size:15px;
  color:rgb(178, 58, 126);
}
.count{
  font-size:15px;
  color:rgb(23, 118, 123);
  position: inherit;
  padding-left: 70px;
  padding-bottom: 10px;
}
.borderexample {
  width:110px;
  height: 50px;
  padding: 4px;
  margin-left:18px;
  /* margin-top:px; */
  border-style:solid;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(1, 8, 8);
}

.borderexample2 {
  width:180px;
  height:70px;
  padding: 4px;
  padding-left: 4px;
  margin-left:1090px;
  margin-top:-300px;
  border-radius: 10px;
  border-style:solid;
  border-color: black;
  background-color: azure;
  overflow: hidden;
}



#add{
    width: 10%;
    height: 40px;
    margin-right:10px;
    margin-left:10px;
    margin-top:240px;
    background-color:white;
    font-size: 16px;
    border-radius: 10px;
    border-color: rgb(23, 118, 123);
    color:rgb(23, 118, 123);
    border-style: solid;


}
#remove{
    width: 10%;
    height: 40px;
    margin-right:10px;
    margin-left:430px;
    margin-top:15px;

    background-color:white;
    font-size: 16px;
    border-radius: 10px;
    border-color: rgb(23, 118, 123);
    color:rgb(23, 118, 123);
    border-style: solid;
    

}
  /* On mouse-over */
.add:hover {background-color: rgb(60, 117, 164);}
    
.remove:hover {background-color: rgb(225, 19, 19);
     
 }  
 

/* body{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 10px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 20px;
  font-weight: 20;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 20;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 30px;
  font-weight: 20;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
} */
