@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


 h1 {
  margin-top:25px;
  margin-left:170px;
  color: rgb(23, 148, 106);   
}

#myMap{
    width: 70%;
    height: 400px;
    margin-top:-240px; 
    margin-left:165px;
    display: inline-flex;

    /* padding: 14px 28px; */
    border-radius: 8px;
    border: 2px solid rgb(75, 6, 46);
    /* position : center; */


    /* border-style: solid; */
    /* box-sizing: border-box; */
    /* background-origin: padding-box; */

  
}

#txt{
  font-size:3ch;
  color:white;
 
 
}
.textb2{
  font-size:14px;
  color:rgb(23, 118, 123);
}
.count{
  font-size:15px;
  color:rgb(23, 118, 123);
  /* position: inherit; */
  /* padding-left: 70px; */
  /* padding-bottom: 10px; */
}
.borderexample {
  width:110px;
  height: 50px;
  padding: 4px;
  margin-left:20px;
  border-style:none;
  border-radius: 20px;
  border-color: rgb(23, 118, 123);
  background-color: rgb(1, 8, 8);
  align-items: center;
  appearance: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  text-align:center;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-weight: 500;
  height: 48px;
  /* justify-content: center; */
  letter-spacing: .25px;
  /* line-height: normal; */
  max-width: 100%;
  overflow: visible;
  border-color: rgb(23, 118, 123);
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;




  /* 
  
 
  
 
   */




  
}

.borderexample2 {
  width:180px;
  height:70px;
  padding: 4px;
  /* padding-left: 4px; */
  text-align:center;
  margin-left:1070px;
  margin-top:-300px;
  border-radius: 10px;
  border-style:solid;
  border-color: black;
  background-color: rgb(167, 224, 227);
}


/* CSS */
.button-17 {
  /* margin-top: -300px; */
  margin-bottom: -10px;
  margin-left:1070px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /* position: relative; */
  border-color: rgb(23, 118, 123);
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  will-change: transform,opacity;
  /* z-index: 0; */
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.borderexample3 {
  width:180px;
  height:70px;
  padding: 4px;
  text-align:center;
  padding-left: 4px;
  padding-top:20px;
  margin-left:1070px;
  /* margin-top:-210px; */
  border-radius: 10px;
  border-style:solid;
  border-color: black;
  background-color: rgb(167, 224, 227);
  overflow: hidden;
}

#add{
    width: 10%;
    height: 40px;
    margin-right:10px;
    margin-left:10px;
    /* margin-top:240px; */
    background-color:white;
    font-size: 16px;
    border-radius: 18px;
    border-color: rgb(23, 118, 123);
    color:rgb(23, 118, 123);
    border-style: solid;


}
#remove{
    width: 10%;
    height: 40px;
    margin-right:10px;
    margin-left:450px;
    /* margin-top:150px; */
    background-color:white;
    font-size: 16px;
    border-radius: 18px;
    border-color: rgb(23, 118, 123);
    color:rgb(23, 118, 123);
    border-style: solid;
    

}
  /* On mouse-over */
.add:hover {background-color: rgb(60, 117, 164);}
    
.remove:hover {background-color: rgb(225, 19, 19);
     
 }  
 

 .button-18 {
  margin-top: 50px;
  margin-bottom: -100px;
  margin-left:1070px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 110%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  border-color: rgb(23, 118, 123);
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  /* will-change: transform,opacity; */
  /* z-index: 0; */
}

.button-18:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-18:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-18:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-18:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-18:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-18:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-18:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-18:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


